<h3 uku-text="res.getResource('LABEL_EXAMPLE_15')"></h3>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#demo15" aria-controls="demo15" role="tab" data-toggle="tab">Demo</a>
    </li>
    <li role="presentation">
        <a href="#html15" aria-controls="html15" role="tab" data-toggle="tab">Html</a>
    </li>
	<li role="presentation">
        <a href="#comp15" aria-controls="comp15" role="tab" data-toggle="tab">Component</a>
    </li>
    <li role="presentation">
        <a href="#js15" aria-controls="js15" role="tab" data-toggle="tab">JavaScript</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="demo15" style="margin: 20px">
        <user-list uku-users-from-outside="ex15Ctrl.users"></user-list>
    </div>
    <div role="tabpanel" class="tab-pane" id="html15" style="margin: 20px">
        <pre>
			<code class="html">
&lt;div&gt;
	&lt;user-list uku-users-from-outside="ex15Ctrl.users"&gt;&lt;/user-list&gt;
&lt;/div&gt;
			</code>
		</pre>
    </div>
	<div role="tabpanel" class="tab-pane" id="comp15" style="margin: 20px">
        <pre>
			<code class="html">
&lt;uku-component&gt;
    &lt;template&gt;
        &lt;div&gt;
            &lt;ul&gt;
                &lt;li uku-repeat="user in cc.users"&gt;
                    &lt;div&gt;
                        &lt;input type="checkbox" uku-value="user.selected" uku-onchange="parent.cc.cbChangedHandler()"&gt;
                        &lt;label&gt;{{user.name}}&lt;/label&gt;
                    &lt;/div&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
			&lt;h3 uku-text="cc.selectedUsers"&gt;&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/template&gt;
    &lt;script&gt;
        function(uku){
            this.users = [];
			this.selectedUsers = "";
			this.cbChangedHandler = function(){
				var tempArr = [];
				for(var i=0;i&lt;this.users.length;i++){
					var user = this.users[i];
					if(user.selected === true){
						tempArr.push(user.name);
					}
				}
				this.selectedUsers = tempArr.join(', ');
			};
			
            var usersFromOutside;
            Object.defineProperty(this, "usersFromOutside", {
                set: function (value) {
                    usersFromOutside = value;
                    for(var i=0;i&lt;usersFromOutside.length;i++){
                        var user = {'name':usersFromOutside[i],'selected':false};
                        this.users.push(user);
                    }
                    console.log(this.users);
                }
            });
        }
    &lt;/script&gt;
&lt;/uku-component&gt;
			</code>
		</pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="js15" style="margin: 20px">
        <pre>
			<code class="javascript">
function Example15Ctrl() 
	this.users = ['momoko','sakura','lily','lowe'];
}
			</code>
		</pre>
    </div>
</div>
