
<uku-component>
    <template>
        <ul class="ukuNav">
            <li style="float:right">
                <a href="#about" uku-text="res.getResource('TAB_ABOUT')"></a>
            </li>
            <!-- <li style="float:right">
                <a href="#api" uku-text="res.getResource('TAB_API')"></a>
            </li> -->
            <li style="float:right">
                <a href="#performance" uku-text="res.getResource('TAB_PERFORMANCE')"></a>
            </li>
            <li style="float:right">
                <a href="#example" uku-text="res.getResource('TAB_EXAMPLE')"></a>
            </li>
            <li style="float:right">
                <a href="#guide" uku-text="res.getResource('TAB_GUIDE')"></a>
            </li>
            <li style="float:right">
                <a href="#home" uku-text="res.getResource('TAB_HOME')"></a>
            </li>
        </ul>
    </template>
</uku-component>
